@model TextQuest.Models.SceneListModel


<div class="background">
    <div id="bg" style="float:left">
        <img src="@Model.CurrentScene.BackgroundImageUrl" />
    </div>
    <div id="info" style="float:left">
        <div class="inventory">
            <h3>Инвентарь</h3>
            <br>
            <div id="loop" class="itemsContainer">
                @foreach (var item in Model.InventoryItems)
                {
                    <div id=@item.Id class="inventoryObject" onclick="invObjHandler(@item.Id)" oncontextmenu="ShowInventoryInfo(@item.Id); return false;" title="@item.Name">
                        <a><img src="@item.ImageUrl" /></a>
                    </div>
                }
            </div>
        </div>
        <div class="textbox">
            <h3>Текстовое поле</h3>
            <div class="textfield"></div>
        </div>
    </div>
    <div class="sceneObjectsContainer" id="scContainer">
        @foreach (var obj in Model.CurrentScene.SceneObjects)
        {
            string x = obj.x + "px";
            string y = obj.y + "px";
            string id = obj.Id.ToString();
            <div id=@id class="sceneObject" title="@obj.Name" style="position:absolute;left:@x;top:@y;" onmouseover="ShowAction(@obj.Id)">
                <a><img src="@obj.ImageUrl" onclick="scObjHandler(@obj.Id,@Model.CurrentScene.Id,@Model.Inventory.Id)" oncontextmenu="ShowInfo(@obj.Id);return false;" /></a>
            </div>
        }
    </div>
</div>

<script>
    function scObjHandler(data_id, scene_id, inventory_id) {

        let selectedinventoryId;
        if ($(".inventoryObject").hasClass("selectedInventoryObject")) {
            selectedinventoryId = $(".selectedInventoryObject").attr("id");
        }

        $.ajax({
                url: "/GamePage/HandleSceneObjectClick",
                type: "post",
                data: {
                    item: String(data_id),
                    scene: String(scene_id),
                    inventory: String(inventory_id),
                    selectedinventoryId:String(selectedinventoryId)
                },
            success: function (data) {
                console.log(data);
                    if (data.interactionType == 0) {
                        // Add item to inventory
                        $(".itemsContainer")
                             .append($("<div>").attr("id", String(data.responce.newId)).addClass("inventoryObject").attr("oncontextmenu", String("ShowInventoryInfo(" + data.responce.newId + ");return false;")).attr("onclick", String("invObjHandler(" + data.responce.newId + ")")).attr("title",String(data.responce.name))
                                    .append($("<a>")
                                    .append($("<img>").attr("src", data.responce.imageUrl))));
                        if (data.remove) {
                            $("#" + data.responce.oldId).remove();
                        }
                        $(".inventoryObject").removeClass("selectedInventoryObject");
                    }
                    else if (data.interactionType == 1) {

                        console.log(data);
                        let i = document.getElementById("remain").getAttribute("data-remaining");
                        //TODO: change sign
                        if (i <= 0) {
                            //TODO: Bad ending cutscene
                        }
                        else {
                            //?????
                            $.ajax({
                                url: "/GamePage/HandleRemainingTime",
                                type: "post",
                                data: String(i),
                                success: function () {
                                    window.location.replace(data.nextSceneId);
                                },
                                error: function () {
                                    alert("error");
                                }
                            });
                        }

                    }
                    else if (data.interactionType == 2) {
                        if (data.responces.length > 0) {
                           /* if (!data.responces[0].isValid) {
                                console.log("No");
                                $(".textfield").append(document.createTextNode("Вы не можете это использовать"));
                                return;
                            }*/
                            // Do set of animations
                            for (i = 0; i < data.responces.length; i++) {
                                if (!data.responces[i].isValid) {
                                    console.log("No");
                                    $(".textfield").append(document.createTextNode("Вы не можете это использовать"));
                                    continue;
                                }
                                if (data.responces[i].action == 0) {
                                    console.log("Hello")
                                    $("#" + data_id).remove();
                                    continue;
                                }
                                if (data.responces[i].specialEvent) {
                                    window.eval(String(data.responces[i].specialEvent +"("+data_id+")"));
                                }
                                if (!data.responces[i].isSpawn) {
                                    $("#" + data.responces[i].oldId)
                                        .replaceWith($("<div>").attr("id", String(data.responces[i].newId)).addClass("sceneObject").css("position", "absolute").css("left", data.responces[i].x).css("top", data.responces[i].y).attr("onmouseover", String("RemoveText(" + ShowAction(data.responces[i].newId) + ")")).attr("title", data.responces[i].name) //todo: не ставится hover text
                                            .append($("<a>")
                                                .append($("<img>").attr("src", data.responces[i].imageUrl).attr("onclick", String("scObjHandler(" + data.responces[i].newId + ",@Model.CurrentScene.Id,@Model.Inventory.Id)")).attr("oncontextmenu", String("ShowInfo(" + data.responces[i].newId + ");return false;")))));

                                }
                                else {
                                    $('#scContainer').append($("<div>").attr("id", String(data.responces[i].newId)).addClass("sceneObject").css("position", "absolute").css("left", data.responces[i].x).css("top", data.responces[i].y).attr("onmouseover", String("RemoveText(" + ShowAction(data.responces[i].newId) + ")")).attr("title", data.responces[i].name) //todo: не ставится hover text
                                            .append($("<a>")
                                                .append($("<img>").attr("src", data.responces[i].imageUrl).attr("onclick", String("scObjHandler(" + data.responces[i].newId + ",@Model.CurrentScene.Id,@Model.Inventory.Id)")).attr("oncontextmenu", String("ShowInfo(" + data.responces[i].newId + ");return false;")))));

                                }
                            }
                            $("div.selectedInventoryObject").remove()
                            RemoveText();
                        }
                        else {
                            $(".textfield").append(document.createTextNode("Вы не можете это использовать"));
                        }
                        $(".inventoryObject").removeClass("selectedInventoryObject");
                    }
                },
                error: function () {
                    alert("error");
            }
        });
        RemoveText();
    }
</script>
<script>
    function invObjHandler(id) {
        $("#" + id + ".inventoryObject").addClass("selectedInventoryObject");
    }

    function ShowInventoryInfo(id) {
        RemoveText();
        $.ajax({
            url: "/GamePage/HandleInventoryInfoShowing",
            type: "post",
            data: String(id),
            success: function (data) {
                $(".textfield").append(document.createTextNode(data.name)).append(" ").append(document.createTextNode(data.description));
            },
            error: function () {
                alert("error");
            }
        });

    }

    function ShowInfo(id) {
        RemoveText();
        $(".inventoryObject").removeClass("selectedInventoryObject");
        $.ajax({
            url: "/GamePage/HandleShowInfo",
            type: "post",
            data: String(id),
            success: function (data) {
                $(".textfield").append(document.createTextNode(data.name)).append(" ").append(document.createTextNode(data.description));
            },
            error: function () {
                alert("error");
            }
        });
    }

    function ShowAction(id) {

        let inventoryObj = $(".selectedInventoryObject").attr("title");
        let sceneObj = $("#" + id + ".sceneObject").attr("title");
        let action = "Использовать " + inventoryObj + " c " + sceneObj;
        if (inventoryObj) {
            RemoveText();
            $(".textfield").append(document.createTextNode(action));
        }
    }
    function RemoveText() {
        $(".textfield").empty();
    }
</script>

<script>
    function findCombination(id) {
        console.log(document.getElementsByClassName(".innerText"));
        if (document.getElementsByClassName("innerText").length == 0) {
            $("#1052.sceneObject").append($("<div></div>").addClass("innerText"));
        }
        else {
            //alert("hello");
        }

        //$(".innerText").text() += "1";

        $(".innerText").append(document.createTextNode($("#" + id + ".sceneObject").attr("title")));
        if ($(".innerText").text().length >= 5) {
            $(".innerText").empty();
        }
    }
    function checkPassword() {
        if ($(".innerText").text() == "3862") {
            window.location.replace(1008);
        }
        else {
            $(".innerText").empty();
        }
    }
    function Tresh() {

    }
</script>
<script>
                                //ToDo inventory pagination
                               /* window.onload = function () {
                                    console.log($("#loop .inventoryObject").length);
                                    let numOfItems = $("#loop .inventoryObject").length;
                                    let limitPerPage = 5;
                                }*/
</script>

