@model TextQuest.Models.LevelListModel


    
    <div class="levelContainer">
        @foreach (var lvl in Model.Levels)
        {
            string name = lvl.Name;
            string creator = lvl.Creator;
            int views = lvl.Views;
            int likes = lvl.Likes;
            int dislikes = lvl.Dislikes;
            int id = lvl.Id;
            //int sceneid = lvl.FirstSceneID;
            <div class="level">
                <div class="info">
                    <div class="title">@name</div>
                    <div class="creator"><b>Автор:</b> @creator</div>
                    <div class="stats">
                        <div class="views">👁️ @views</div>
                        <div class="likes">👍 @likes</div>
                        <div class="dislikes">👎 @dislikes</div>
                        <div class="deletebutton"><button>УДАЛИТЬ 🗑️</button></div>
                    </div>
                </div>
                <div class="playbutton">
                    <button class="button" onclick="func(@id)">
                        ▶
                    </button>
                </div>

            </div>
        }




    </div>

<script>
    function func(_lvlid) {
        $.ajax({
            url: "/LevelSelect/HandleLevelEntering",
            type: "post",
            data: String(_lvlid),
            success: function (data) {
                var route = "@Url.RouteUrl(new { controller = "GamePage", action = "Index", lvlid = "neededLVLid", id = "neededID" })";
                route = route.replace("neededLVLid", _lvlid);
                route = route.replace("neededID", data.id);
                window.location.replace(route);
            },
            error: function () {

            }
        });
       
    }

    function calltoserver(data) {
        $.ajax({
            url: "/LevelSelect/HandleInventoryInfoShowing",
            type: "post",
            data: String(id),
            success: function (data) {
                var element = document.createElement("div");
                element.innerHTML = "<div class = \"centerthis\">" + data.name + "</div><div style=\"line-height: 50%;\"><br></div >" + data.description + ".";
                $(".textfield").append(element);
                //$(".textfield").append(document.createTextNode(data.name)).append(" ").append(document.createTextNode(data.description));
            },
            error: function () {

            }
        });
    }

</script>
